@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>resultPage</title>
    <style>


        .info {
            padding: 20px;
            text-align: center;
        }

        .img img {
            height: 130px;
            width: 130px;
            margin-top: 10%;
            margin-left: 45%;
        }

        .button-green {
            background-color: lightgreen;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            margin: 5px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            display: block;
            width: fit-content;
            margin-left: 47%;
        }

        .button-green1 {
            background-color: lightgreen;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            margin: 5px;
            text-decoration: none;
            color: white;
            font-weight: bold;
            display: block;
            width: fit-content;
            margin-left: 46%;
        }

    </style>
</head>
<body>
    @if (!string.IsNullOrEmpty(ViewBag.result) && ViewBag.result == "Success")
    {
        <div class="container">
            <div class="img">
                <img src="/css/Images/checklist_10629607.png" />
            </div>
            <div class="info">
                <h3>Voice Liveness Verification Successfull</h3>
                <a class="nav-link button-green1" asp-area="" asp-controller="Audio" asp-action="Index">Continue</a><br />
                <a class="nav-link button-green" asp-area="" asp-controller="Audio" asp-action="audioRecording">Retry</a>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="img">
                <img src="/css/Images/Error-512.png" />
            </div>
            <div class="info">
                <h3>Voice Liveness Verification Failed</h3>
                <a class="nav-link button-green" asp-area="" asp-controller="Audio" asp-action="audioRecording">Retry</a>
            </div>
        </div>
    }
</body>
</html>
