@model AudioTOBase64.Models.Class

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Upload Audio File</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        .container {
            margin-top: 15%;
        }

            .container img {
                width: 250px;
                height: 170px;
                margin-left: 38%;
            }

            .container p {
                text-align: center;
            }
    </style>
</head>
<body>

    <div class="container">
        <img src="/css/Images/audiogif.gif" class="waiting-img">
        <p>
            Please wait while we validate your information, this may take up to 5 seconds.<br>
            Thank you for your patience.
        </p>
    </div>





    @{
        Model.EmployeeID = @ViewBag.EmployeeID;
    }
    <div id="myModal" class="modal">
        <div id="modalContent"></div>
    </div>

    <script>
        $(document).ready(function () {
            startRecording();
        });

        function startRecording() {
            var countdown = 5; // 5 seconds recording
            var audioChunks = [];
            var mediaRecorder = null;
            var options = { mimeType: 'audio/webm' };

            navigator.mediaDevices.getUserMedia({ audio: true })
                .then(function (stream) {
                    mediaRecorder = new MediaRecorder(stream, options);
                    mediaRecorder.start();

                    setTimeout(function () {
                        mediaRecorder.stop();
                        stream.getTracks().forEach(track => track.stop());
                        submitForm();
                    }, countdown * 1000);

                    mediaRecorder.addEventListener("dataavailable", function (event) {
                        audioChunks.push(event.data);
                    });

                    mediaRecorder.addEventListener("stop", function () {
                        var blob = new Blob(audioChunks, { type: 'audio/webm' });
                        var formData = new FormData();
                        formData.append('File', blob);
                        formData.append('EmployeeID', '@ViewBag.EmployeeID');
                        formData.append('Email', '@ViewBag.Email');

                        $.ajax({
                            url: '/Audio/UploadAudioFile',
                            type: 'POST',
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: function (data) {
                                $('#modalContent').html(data);
                                $('#myModal').modal('show');
                            },
                            error: function () {
                                console.log('Error processing audio');
                            }
                        });
                    });
                })
                .catch(function (error) {
                    console.log('Error starting recording:', error);
                });
        }
    </script>
</body>
</html>
